body{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #A9A9A9;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.bolas{
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: red;
}

.medicao{
  display: flex;
  width: 220px;
  border: 2px solid;
  border-color: black;
  padding: 10px;
}

.styleMedicao{
  font-size: 21px;
  font-family: monospace;
  text-align: center;
}

.styleDados{
  display: flex;
  flex-direction: column;
}

.tempos-por-cor{
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-color: black;
  text-align: center;
  font-family: monospace;
  padding: 10px;
  font-size: 15px;
}

.media-tempos{
  display: flex;
  height: 100%;
  align-items: end;
}